/* Estilos globales para el cuerpo del documento */
body {
    /* Tipo de letra utilizado */
    font-family: Arial, sans-serif;
    font-
    /* Elimina los márgenes y el relleno por defecto */
    margin: 0;
    padding: 0;
    /* Color de fondo del sitio web */
    background-color: #FFA5FA;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    /* Color de fondo del encabezado */
    background-color: #FF0087;
    /* Color del texto en el encabezado */
    color: #000;
    /* Relleno interno del encabezado */
    padding: 1rem 0;
    /* Alineación del texto en el centro */
    text-align: center;
}


/* Estilos para el contenido principal */
main {
    /* Relleno interno del contenido principal */
    padding: 1rem;
}

/* Estilos para el pie de página */
footer {
    /* Color de fondo del pie de página */
    background-color: #0000;
    /* Color del texto en el pie de página */
    color: #000;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Relleno interno del pie de página */
    padding: 1rem 0;
    /* Fija el pie de página en la parte inferior de la página */
    position: fixed;
    bottom: 0;
    width: 100%;
}
.slider-container {
            max-width: 1000px;
            max-height: 600px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        .slider-content {
            display: flex;
            transition: transform 1s ease;
            width: 100%; /* Ajusta el ancho según el número de imágenes */
        }
        .slider-item {
            flex: 0 0 100%; /* Cada imagen ocupa el 100% del contenedor */
        }
        .slider-item img {
            width: 1000px; /* Las imágenes se ajustan al ancho del contenedor */
            height: 600px;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }


/* Estilos para la barra de navegación */
nav ul {
    /* Elimina el estilo de lista por defecto */
    list-style-type: none;
    /* Elimina el relleno interno */
    padding: 0;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Color de fondo de la barra de navegación */
    background-color: #444;
    /* Elimina los márgenes */
    margin: 0;
}

/* Estilos para los elementos de la lista en la barra de navegación */
nav ul li {
    /* Muestra los elementos en línea */
    display: inline-block;
    /* Elimina los márgenes */
    margin: 0;
    position: relative;
}

/* Estilos para los enlaces en la barra de navegación */
nav ul li a {
    display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
        }

        nav ul li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li ul li {
            display: block;
        }
        nav ul li:hover ul {
            display: block;
        }